div
   form(action='/login', method='post')
      div.input 
          span.label Username 
          input(type="text", name="username")
      div.input 
          span.label Password 
          input(type="text", name="password")
      div.actions
          input(type="submit", value="submit")


